.task,
.task-details {
  width: 36.5em;
  height: 5.5em;
  margin: auto;
  margin-top: 1em;
  border: 1px solid #8d99ff;
  border-radius: 4px;
}

.task-details {
  height: auto;
}

.task:hover {
  box-shadow: 0 0 11px rgba(141, 153, 255, 0.7);
}

.info {
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 1.5em 0.5em 1.5em;
  font-family: 'Noto Sans', sans-serif;
  cursor: pointer;
}

#name-task {
  color: rgba(0, 0, 0, 0.8);
  font-weight: 500;
  font-size: 1.25em;
}

/* #name-task:hover {
  text-decoration: underline;
  text-decoration-thickness: 0.07em;
  text-decoration-color: #c4c4c4;
} */

#name-task-done {
  color: rgba(0, 0, 0, 0.3);
  font-weight: 500;
  font-size: 1.25em;
  text-decoration: line-through;
}

#dataprevista-task {
  padding-left: 1.5em;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 600;
  font-size: 1em;
}

#status-t,
#status-t2 {
  color: #4aa4f8;
  margin-right: -0.25em;
  border-radius: 25px;
}

#status-t2 {
  color: #fe5454;
}

#status-icon-1 {
  background-color: #8ef66a;
  color: #ffffff;
  border-radius: 25px;
}

#status-t:hover,
#status-t2:hover {
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
}

#status-1:hover,
#status-2:hover,
#status-3:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.3);
}

#status-1,
#status-2,
#status-3 {
  width: 1.5em;
  height: 1.5em;
  border-radius: 100%;
  cursor: pointer;
}

#status-1 {
  background-color: #4aa4f8;
}

#status-2 {
  background-color: #fe5454;
}

#status-3 {
  background-color: #8ef66a;
}

/* ------ */

.icons {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 1em;
  margin-left: 1.25em;
  color: rgba(0, 0, 0, 0.6);
}

#dtprev-details,
#desc-details,
#category-details {
  font-weight: 400;
  font-size: 1.125em;
  margin-left: 0.75em;
}

#desc-details {
  width: 26em;
}

#text {
  align-items: flex-start;
}

.footer-task {
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: 1.5em;
  padding-bottom: 1em;
}

#delete-icon {
  padding: 0.25em;
  border-radius: 5px;
  cursor: pointer;
}

#delete-icon:hover {
  box-shadow: 0 0 11px rgba(0, 0, 0, 0.2);
  color: red;
}
