.body-home {
  width: 36.8em;
  margin: auto;
  margin-top: 7.5%;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.components-home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
