.body {
  width: 587px;
  margin: auto;
  margin-top: 8.5%;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
}

.components {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
